:root {
    --background-primary: #080608 !imortant;
body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/

    //--background-primary: rgb(32,31,31);
    //--background-secondary: #080608 !important;
    //--background-secondary: rgb(57, 56, 56);
}

    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
.dg-content img {
    max-width: 100% !important;
    height: auto !important;
    width: 100%;
    object-fit: contain;
}
    @media (max-width: 600px) {
    img {
        max-width: 100%;
        height: auto;
    }
}
}
